{# i18n-converted #}
{% extends "base.html" %}

{% block title %}{{ _('Database Test') }}{% endblock %}

{% block content %}
<div class="landing-page" style="display: block;">
    <h1>{{ _('Database Connection Test!') }}</h1>
    <p>{{ _('Records from %(table)s:', table='test_table') }}</p>
    
    {% if records %}
        <table border="1">
            <tr>
                <th>{{ _('ID') }}</th>
                <th>{{ _('Name') }}</th>
            </tr>
            {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>{{ _('No records found in %(table)s.', table='test_table') }}</p>
    {% endif %}
    
    <p><a href="/">{{ _('Back to home') }}</a></p>
</div>
{% endblock %}