{% extends "base.html" %}

{% block title %}Help - Irish Music Sessions{% endblock %}
{% block description %}Help{% endblock %}

{% block content %}
<div class="landing-page" style="display: block;">
            <h1>What Is This Site For?</h1>
            <p>This site allows you to track the tunes you play at your session.</p>

            <p>We track a few facts about your session, like the address and how often it happens (like "Every Thursday"). All sessions have to be linked to a session record on TheSession.org, and we can import the details from there.</p>

            <p>Each time you hold a session, you can <strong>log</strong> the tunes you played here. We call that particular session an <strong>instance</strong> of your session (to avoid confusion with the ongoing session series). Instances have a date, a list of tunes, and a few other pieces of information (like an optional comment for the session, like "It was John's birthday and we celebrated with cake.").</p>

            <p>To add a session log, click on "Add" on the Session details page, and it'll ask for the date (making its best guess based on the most recent one you've tracked and your session recurrence).</p>

            <p>You can then add tunes by typing or pasting the tune names into the text box on the page. It'll automatically link any tunes it can; right click any tune names to see your options on editing, relinking, moving, etc.</p>

            <p>If you'd like to add your session to our list, feel free!</p>
        </div>
{% endblock %}