{% extends "help_base.html" %}

{% set page_title = "Release Notes" %}
{% set page_description = "What's new in ceol.io, month by month" %}
{% set active_page = "release-index" %}

{% block help_content %}
<h1>Release Notes</h1>

<p>A running history of what's new in ceol.io. Pick a month to see the details.</p>

<ul class="release-notes-list">
    {% for month, month_name in months %}
    <li><a href="{{ url_for('help_release_notes', month=month) }}">{{ month_name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
