<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ session_instance.session_name }} - {{ session_instance.date }} - Irish Music Session</title>
</head>
<body>
    <h1>{{ session_instance.session_name }}</h1>
    <h2>{{ session_instance.date }}</h2>
    
    {% if session_instance.comments %}
    <div class="session-instance-comments">
        <h3>Notes from this session:</h3>
        <p>{{ session_instance.comments }}</p>
    </div>
    {% endif %}
    
    {% if tune_sets %}
    <div>
        <h3>Tunes Played:</h3>
        <ul>
        {% for tune_set in tune_sets %}
            <li>
            {% for tune in tune_set -%}
                {%- if tune[2] -%} {# tune_id exists - create link #}
                    {%- set link = "https://thesession.org/tunes/" + tune[2]|string -%}
                    {%- if tune[4] -%} {# setting exists #}
                        {%- set link = link + "#setting" + tune[4]|string -%}
                    {%- endif -%}
                    <a href="{{ link }}" target="_blank">{{ tune[3] }}</a>
                {%- else -%} {# no tune_id - just show name #}
                    {{ tune[3] }}
                {%- endif -%}
                {%- if not loop.last %}, {% endif -%}
            {%- endfor %}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    <p><a href="/sessions/{{ session_instance.session_path }}">← Back to this session</a></p>
</body>
</html>